<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{blog_text}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

<h3>Comments:</h3>
{{#each comments}}
  <div class="comment">
    <p>{{this.comment.comment_text}}</p>
    <p>Commented by {{this.user.name}} on {{format_date this.date_created}}</p>
  </div>
{{else}}
  <p>No comments yet on this post - yours could be the first!</p>
{{/each}}

  {{#if logged_in}}
  <p>
    <button class="btn btn-primary" onclick="window.location.href='/comment';">Leave a Comment!</button>
  </p>
  {{else}}
   <p>
    <button class="btn btn-primary" onclick="window.location.href='/login';">Login to Leave a Comment!</button>
  </p>
  {{/if}}
</div>
