{{#each blogpost as |blogpost| }}
<div class="row mb-4 blogpost">
  <div class="col-md-5">
    <h2>
      <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
    </h2>
    <p class ="card card-body" id="blog-text">{{blogpost.text}}</p>
    <h5 class="card card-body" id="blog-author">Written by{{blogpost.user.username}} on {{format_date blogpost.date_created}}</h5>
  </div>
      <div>
            {{#each data as |comment|}}
            <hr>
            <p class ="card card-body" id="comment-text">{{blogpost.comment.text}}</p>
            <hr>
            <h5 class="card card-rounded card-footer" id="comment-author">Commented by{{blogpost.comment.user.username}} on {{format_date comment.date_created}}</h5>
            {{/each}}
      </div>
  </div>
{{/each}}
