<div class="row align-center mb-5">
    <section class="col-md-6">
            {{#each data as |blogpost|}}
            <article class="card card-rounded">
                <h2 class="card card-rounded card-header">{{blogpost.dataValues.title}}</h2>
                <hr>
                <p class ="card card-body">{{blogpost.dataValues.text}}</p>
                <h5 class="card card-body">Written by{{blogpost.dataValues.user.datavalues.username}} on {{(blogpost.dataValues.createdOn || blogpost.dataValues.updatedOn)}}</h5>
                {{#each data as |comment|}}
                <hr>
                <p class ="card card-body">{{blogpost.dataValues.comment.datavalues.text}}</p>
                <hr>
                <h5 class="card card-rounded card-footer">Commented by{{blogpost.dataValues.comment.datavalues.user.datavalues.username}} on {{(blogpost.dataValues.comment.datavalues.createdOn || blogpost.dataValues.comment.datavalues.updatedOn)}}</h5>
                {{/each}}
            </article>
            {{/each}}
    </section>
</div>